@charset "UTF-8";

:root
{
    --VermelhoOff: #F40000;
    --Acafrao: #e3b505;
    --VioletaRussa:#261447;
    --AzulCarolina: #86bbd8;
    --Menta: #61c9a8;
    --preto: #000000;
    --branco: #ffffff;
}